@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&subset=latin-ext');
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
@font-face {
  font-family: 'MarioFont';
  src: url('../assets/font/MUSHKV1-1_0/mushkv1-1_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/font/MUSHKV1-1_0/mushkv1-1_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/font/MUSHKV1-1_0/MUSHKV1-1_0.ttf')  format('truetype');
}
@font-face {
  font-family: 'fontello';
  src: url('../assets/font/fontello/font/fontello.eot');
  src: url('../assets/font/fontello/font/fontello.eot#iefix') format('embedded-opentype'),
       url('../assets/font/fontello/font/fontello.woff2') format('woff2'),
       url('../assets/font/fontello/font/fontello.woff?5001619') format('woff'),
       url('../assets/font/fontello/font/fontello.ttf?') format('truetype'),
       url('../assets/font/fontello/font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50016199#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */

.portfolio-section {
  padding: 1rem 2rem 5rem;
  max-width: 991px;
  margin: 0 auto;
    &__title {
      text-align: center;
      margin: 1rem auto 5rem;
      line-height: 2;
      background: #8e44ad;
      color: #ecf0f1;
      max-width: 250px;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 3px;
        border-radius: 4px;
      &::after {
        content: '';
        width: 0;
        color: #8e44ad;
        height: 0;
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    &__title-inner {
      // display: inline-block;
    }
}
.icon-gulp {
    path {
        transform: translateX(60%);
    }
}

// navigation
.nav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  overflow: hidden;
  padding: 3px;
  z-index: 1;
}
.menu-list {
  margin: 1rem 0 0;
  padding: 1rem;
  list-style: none;
  background: #fff;
  transition: all 0.5s ease;
  // transform: translateX(-110%);
  display: none;
  max-width: 200px;
  &--open {
    display: block;
    // transform: translateX(0);
  }
  &__item {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: .5rem 0;
  }
  &__link {
    text-decoration: none;
    color: #2c3e50;
    &:hover {
      color: #8e44ad;
    }
  }
}
.hamburger {
  box-sizing: content-box;
  border: none;
  position: relative;
  width: 45px;
  z-index: 1;
  height: 40px;
  // transition-duration: 0.5s;
  background: #fff;
  padding: 1rem;
  cursor: pointer;
  &:focus {
    outline: 3px solid #9b59b6;
    border-color: transparent;
  }
  &__line {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 45px;
    top: 32px;
    background-color: #2c3e50;
    &::before {
      transition-duration: 0.5s;
      position: absolute;
      width: 45px;
      height: 8px;
      background-color: #2c3e50;
      content: '';
      top: -16px;
      left: 0;
    }
    &::after {
      left: 0;
      transition-duration: 0.5s;
      position: absolute;
      width: 45px;
      height: 8px;
      background-color: #2c3e50;
      content: '';
      top: 16px;
    }
    &.open {
      transition-duration: 0.5s;
      background: transparent;
      &::before {
        -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
        transform: rotateZ(45deg) scaleX(1.25) translate(8px, 13px);
      }
      &::after {
        -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
        transform: rotateZ(-45deg) scaleX(1.25) translate(8px, -12px);
      }
    }
  }
  &:hover {
    .hamburger__line::before, .hamburger__line::after, .hamburger__line:not(.open) {
      background-color: #8e44ad;
    }
  }
}
